@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

main {
    max-width: 375px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}


.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: -4px 1px 31px -2px rgba(0,0,0,0.68);
    border-radius: 20px 20px 20px 20px;
    margin: 100px 10px 10px 10px;
    width: 85%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 10px;
  }

  .attribution a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
  }

.split-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    position: relative;
    height: 45px;
}

.split-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

#box-img, #desktop-img, #desktop-img-bg {
    display: none;
}

#mobile-img, #mobile-img-bg {
    position: absolute;
    display: block;
    object-fit: contain;
    object-position: center;
   
}

#mobile-img {
    margin-top: -135px;
    margin-left: 5%;
    height: 220px;
    width: 220px;
    z-index: 2;
}

#mobile-img-bg {
    
    margin-top: -80px;
    margin-left: 13%;
    height: 200px;
    width: 200px;
    z-index: 1;
}

section {
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 1.7rem;
    padding: 30px;
}

.qtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.qtn:hover {
    color: hsl(14, 88%, 65%);
}

.qtn > img {
    object-fit:scale-down;
    object-position: 100% 50%;
    
}

hr {
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin: 10px 0;
}

.bold {
    font-weight: 700;
    color: black;
}

.qtn > p {
    padding: 8px 0;
}

span {
    line-height: 1.5em;
    font-size: 11.5px;
    color: rgb(75, 73, 73);
}

@media screen and (min-width: 950px) {
    main {
        max-width: 900px;
        max-height: 700px;
       
    }

    h1 {
        text-align: left;
        padding: 30px 0;
    }

    .card {
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 20px;
        overflow: hidden;
    }

    .split-left {
      width: 50%;
    }

    .split-left > img {
            height: auto;
            width: 100%;
            margin: 50px;    
    }

    .split-right {
        margin-bottom: 55px;
        margin-right: 90px;
        margin-left: 30px;
    }

    #mobile-img, #mobile-img-bg {
        display: none;
    }

    #box-img, #desktop-img, #desktop-img-bg {
        position: absolute;
        display: block;
        object-fit: contain;
        object-position: center;
    }

    #box-img {
        margin-top: 130px;
        margin-left: -80px;
        height: 120px;
        width: 120px;
        z-index: 3;
        position: fixed;
    }

    #desktop-img {
        margin-top: -20px;
        margin-left: -80px;
        height: 350px;
        width: 350px;
        z-index: 2;
    }
    
    #desktop-img-bg {
        margin-top: -210px;
        margin-left: -380px;
        height: 650px;
        width: 650px;
        z-index: 1;
    }

}