@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    max-width: 500px;
    margin: auto;
    min-height: 100vh;
}

.card {
    display: grid;
    grid-template:1fr / 100%;
    background: white;
    box-shadow: -4px 1px 31px -2px rgba(0,0,0,0.68);
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
}

.split-left {
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 45px;
}

#desktop-img, #desktop-img-bg {
    display: none;
}

#mobile-img, #mobile-img-bg {
    position: absolute;
    object-fit: contain;
    object-position: center;
   
}

#mobile-img {
    margin-top: -160px;
    margin-left: 6px;
    height: 220px;
    width: 220px;
}

#mobile-img-bg {
    margin-top: -100px;
    margin-left: 26px;
    height: 200px;
    width: 200px;
}

section {
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.qtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.qtn:hover {
    color: hsl(14, 88%, 65%);
}

.qtn > img {
    object-fit: contain;
}

hr {
    background-color: hsl(240, 5%, 91%);
    margin: 10px 0;
}

.bold {
    font-weight: 700;
    color: black;
}

p {
    padding: 10px 0;
}

span {
    line-height: 1.5em;
    font-size: 11px;
}
